extends ../users/my-account.pug
block detail
    .right-side-bar.col-sm-8(style='margin-left: 350px')
        h1 Add books
        if errors
            each error in errors
                .alert.alert-danger.col-sm-6= error
        form(method="POST", action="/books/create",enctype='multipart/form-data', onLoad="initialize()" id='f')
            .form-group
                label(for="name") Name(*)
                input(name="name",id="name", class="form-control", type="text", value= value? value.name:"")
            .input-group.form-group
                .input-group-prepend
                    label.input-group-text(for='inputGroupSelect01') Types(*)
                select#inputGroupSelect01.custom-select(name= 'type')
                    option(selected="none") Choose...
                    option(value='Giáo án ') Giáo án 
                    option(value='Đề thi') Đề thi
                    option(value='Giáo trình') Giáo trình
            .form-group
                label(for="avatar") Image
                input(name="avatar",id="avatar", class="form-control-file", type="file")        
            .form-group
                label(for="author") Author
                input(name="author",id="author", class="form-control", type="text", value= value? value.Phone:"")
            .form-group
                label(for="description") Description
                input(name="description",id="description", class="form-control", type="text", value= value? value.Phone:"")
            .form-group
                label(for='address') Address(*)
                input#address.form-control.map-input(type='text', name='address' )
                input.form-control.map-input(type='hidden', id="lat", name='lat' )
                input.form-control.map-input(type='hidden', id="lng", name='lng' )
            button(type="submit", class="btn btn-primary") Add