html
    head 
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(language= "javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBLRxJeXUWtOZchm51GGezoTv6gQdMYOA&callback=initMap", async defer) 
        script(language= "javascript")
            include ../../connectmap.js
    body(onload="initialize()")
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') OLD BOOK
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/home') Home 
                    li.nav-item
                        a.nav-link(href='/books') Books
            if(user)
                p= user.name         

    
block content